# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = true

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning

# IDE0057: Use range operator
[Core/**/*.cs]
dotnet_diagnostic.IDE0057.severity = none

# IDE0290: Use primary constructor
[*.cs]
dotnet_diagnostic.IDE0290.severity = none

# SYSLIB1045: Use GeneratedRegexAttribute to generate the regular expression implementation at compile time
[*.cs]
dotnet_diagnostic.SYSLIB1045.severity = none

# CA1019: Define accessors for attribute arguments
[*.cs]
dotnet_diagnostic.CA1019.severity = none

# CA1031: Do not catch general exception types
[*.cs]
dotnet_diagnostic.CA1031.severity = none

# CA1510: Use ArgumentNullException throw helper
[*.cs]
dotnet_diagnostic.CA1510.severity = none

# CA1515: Consider making public types internal
[*.cs]
dotnet_diagnostic.CA1515.severity = none

# CA1707: Identifiers should not contain underscores
[Tests/**/*.cs]
dotnet_diagnostic.CA1707.severity = none

# CA1813: Avoid unsealed attributes
[*.cs]
dotnet_diagnostic.CA1813.severity = none

# CA2263: Prefer generic overload when type is known
[*.cs]
dotnet_diagnostic.CA2263.severity = none
